@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* { 
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	min-height: 100%;
}

body {
	font-family: 'Mukta', sans-serif;
	font-weight: 100;
	color: antiquewhite;
}

header {
    height: 50px;
	display: flex;
    align-items: center;
	justify-content: right;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.577));
	color: rgba(250, 235, 215, 0.372);
	padding-right: 20px;
	margin-bottom: 40px;
	font-size: .7rem;
	letter-spacing: .02rem;
	font-weight: 300;
	text-shadow: 0px 0px 6px rgb(0, 0, 0);

}

main {
	display: grid;
	grid-template-columns: 1fr 666px 1fr;
}

.main-section {
	text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

form {
	background-color: rgba(0, 0, 0, 0.568);
	border-radius: 9px;
	padding: 65px;
	display: flex;
	flex-direction: column;
	align-items: left;
}

label {
	margin-bottom: 10px;
}

h1 {
	font-weight: 100;
	font-size: 2rem;
	line-height: 1.6;
}

label div {
	letter-spacing: .02rem;
	line-height: 1.5;
	font-weight: 200;
	margin-bottom: 15px;
}

label span {
	color: rgba(255, 248, 220, 0.418);
	font-weight: 200;
	letter-spacing: .02rem;
	display: block;
	line-height: 1.4;
}

label span:hover {
	color: cornsilk;
}

button {
    background-color: rgba(0, 0, 0, 0.098);
    color:rgba(250, 235, 215, 0.454);
    border-radius: 5px;
	height: 40px;
	width: 80px;
	margin-top: 30px;
	align-self: center;
}

input[type="radio"] {
    display: none;
}

input:checked + span {
	color: rgb(252, 229, 137);
}

button:hover {
    background-color:black;
    color:cornsilk;
	cursor: pointer;
}

footer {
	text-align: right;
	color: rgba(255, 255, 255, 0.152);
	margin-right: 15px;
	align-self: end;
}

audio { 
	display: none;
}