@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
}

body {
	font-family: Mukta;
	background-color: black;
	color: antiquewhite;
}

/* main {
	display: flex;
	align-content: center;
	justify-content: center;
} */

.home-body {
	background-image: url(../assets/mountain-sky.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.home-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 3rem;
	font-weight: bold;
	line-height: 0px;
}

.home-page-form {
	display: grid;
	justify-items: center;
}

.amimal-selections {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.amimal-selections div {
	font-size: 1.1rem;
	color: cornsilk;
	font-weight: 600;
	text-align: center;
}

img {
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

/* HIDE RADIO */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

  /* IMAGE STYLES */
[type=radio] + img {
	cursor: pointer;
	border: 3px solid rgba(135, 207, 235, 0);
}

  /* CHECKED STYLES */
[type=radio]:checked + img {
	border: 3px solid skyblue;
}

.first-page-button {
	font-family: Mukta;
    background-color: rgba(255, 255, 221, 0.502);
    color:black;
    height: 80px; 
    width: 80px; 
    border-radius: 100%;
    margin-top: 15px;
}

.first-page-button:hover{
    background-color:rgba(0, 0, 0, 0.659);
	border-color:#ffd;
    color:#ffd;
	border-radius: 100%;
	height: 90px;
	width: 90px;
	cursor: pointer;
}

/* .stars{
	background-image: url(../assets/earth2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
} */

/* header {
	display: flex;
	justify-content: flex-end;
	opacity:50%;
	color: antiquewhite;
	height: var(--header-height);
	box-shadow: var(--shadow);
} */

/* .links {
	height: 700px;
	width: 700px;
	margin-top: 60px;;
	color: antiquewhite;
	text-decoration: none;
	border: none;
	font-family: Mukta;
	text-transform: uppercase;
}

.link {
	display: flex;
	text-decoration: none;
	color: antiquewhite;
	font-size: 30px;
}

.link:hover {
	background-color: #ffd;
	border-color: #9de;
	border-radius: 10%;
	color: black;
	height: 50px;
	width: 170px;
	cursor: pointer;
}

.try-again {
	text-decoration: none;
	color: antiquewhite;
}

.try-again:hover {
	background-color: #83c;
	border-radius: 15%;
	color: #efd;
	height: 30px;
	width: 140px;
	cursor: pointer;
}

.submit-button{
	font-family: Mukta;
    background-color: #ffd;
    color:antiquewhite;
    border-radius: 100%;
}

.submit-button:hover{
    background-color:antiquewhite;
	border-color:#83c;
    color:#83c;
	border-radius: 100%;
	height: 40px;
	width: 80px;
	cursor: pointer;
} */

/* .animal-one{
    background-image: url();
} */

/* footer {
	display: flex;
	justify-content: flex-end;
	background-color: var(--color3);
	box-shadow: var(--shadow);
} */

/* .gutter-right {
	margin-right: 20px;
} */

/* header img {
	height: var(--header-height);
} */

/* p {
	margin: var(--gutter);
} */

/* footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: var(--footer-height);
	display: flex;
	justify-content: flex-end;
	background-color: var(--color3);
	box-shadow: var(--shadow);
} */