@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
}

body {
	font-family: Mukta;
	background-color: black;
	color: antiquewhite;
	text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.home-body {
	background-image: url(../assets/mountain-sky.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.home-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2.8rem;
	font-weight: bold;
	line-height: 1;
	color: #F97068;
}

.text-input-box {
	opacity: .8;
}

h2 {
	line-height: .7;
	font-size: 1.6rem;
	color:whitesmoke;
}

.home-page-form {
	display: grid;
	justify-items: center;
}

.amimal-selections {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.amimal-selections div {
	font-size: .95rem;
	color:#F97068;
	font-weight: 600;
	text-align: center;
	/* text-shadow: none; */
}

img {
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

/* HIDE RADIO */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

  /* IMAGE STYLES */
[type=radio] + img {
	cursor: pointer;
	border: 3px solid rgba(135, 207, 235, 0);
	opacity: .95;
}

[type=radio] + img:hover {
	cursor: pointer;
	border: 3px solid #f96f685a;
	opacity: 1;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.289);
}

  /* CHECKED STYLES */
[type=radio]:checked + img {
	border: 3px solid #F97068;
}

.first-page-button {
	font-family: Mukta;
	font-weight: 600;
	font-size: 1.4rem;
	text-transform: uppercase;
    background-color: rgba(255, 255, 221, 0.522);
    color:rgba(0, 0, 0, 0.728);
    height: 60px; 
    width: 166px; 
    border-radius: 10px;
    margin-top: 15px;
}

.first-page-button:hover{
    background-color:#F97068;
	border-color:#ffd;
    color:#ffd;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.289);
}

.first-page-button:active {
	background-color: rgba(0, 0, 0, 0.146);
	border: 3px solid rgba(0, 0, 0, 0.166);
	color: rgba(255, 248, 220, 0.378);
}